# Common Data Structures
- List
- Dict
- Set
- Tuple

---

# List

A list is created using `[]`, this will create an empty list, the list can also be initiated with the `list`-function, `list()`

<https://www.learnbyexample.org/python-list/>

In [12]:
a_list = []
also_a_list = list()

A list can be initiated with members. List items are separated by a `,` and can be other variables of any type, even another list.

In [13]:
a_list = [ 1, True, None, also_a_list, "string value", ]
print(a_list)

[1, True, None, [], 'string value']

---

# Indexing of list items
Lists are 0 indexed, and items can be accesed via their index id using brackets `[idx]`

In [14]:
a_list[0]

1

You can also use negative indicies to search the list from the back, starting with `-1`

In [15]:
a_list[-1]

'string value'

---

Lists can also be sliced using a similar syntax `a_list[ start : stop : step ]`  
<https://www.learnbyexample.org/python-list-slicing/>

In [21]:
a_list[1:5:2]

[True, []]

In [22]:
a_list[1:4]

[True, None, []]

In [24]:
a_list[3:-1]

[[]]

In [25]:
a_list[1:-1]

[True, None, []]

In [26]:
# Combinde two lists
new_list = a_list + list(range(10))
new_list

[1, True, None, [], 'string value', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

With append we can add a element to the list, in this case a list in the list.

In [30]:
x = ["Kalle"]
x.append(a_list)
print(x)

['Kalle', [1, True, None, [], 'string value']]

If we want to instead add all elements of `a_list` to `x` we can use `.extend(...)`

In [32]:
x = ["Kalle"]
x.extend(a_list)
print(x)

['Kalle', 1, True, None, [], 'string value']

In [33]:
print(a_list)

[1, True, None, [], 'string value']

In [38]:
new_list = [*x, *a_list]
# Roughly: [ x[0], x[1], x[2], ..., x[n], a_list[1], ... , a_list[n] ]
print(new_list)

['Kalle', 1, True, None, [], 'string value', 1, True, None, [], 'string value']

---

# Common list methods

Called by on the list data/variable, for instance `new_list.remove(1)`

- `.append(x)`: Append item to list
- `.extend(other_list)`: Append a list to the list 
- `.insert(i, x)`: Insert an item x at a given position i.
- `.remove(x)`: Remove the first item from the list whose value is equal to x.

More functions: <https://docs.python.org/3/tutorial/datastructures.html#more-on-lists>

---

# Dict, dictionary

Key-value storage of data, maps from a key to the value.

<https://www.learnbyexample.org/python-dictionary/>

In [39]:
my_dictionary = {
    "name": "Ada Lovelace",
    "born_year": 1815,
    "expertise": "The first computer programmer."
}

for key, value in my_dictionary.items():
    print(key, ': ', value)

name :  Ada Lovelace
born_year :  1815
expertise :  The first computer programmer.

In [43]:
# Only last value is shown in the case of a collision
my_dictionary = {
    "name": "Ada Lovelace",
    "born_year": 123,
    "born_year": 1815,
    "expertise": "The first computer programmer."
}

for key, value in my_dictionary.items():
    print(key, ': ', value)

name :  Ada Lovelace
born_year :  1815
expertise :  The first computer programmer.

We can also use other data types for keys

In [45]:
other_dict = {
    None: "Ost",
    23: "Bil",
}
other_dict[None]

'Ost'

In [48]:
my_dictionary.get("name")

'Ada Lovelace'

In [49]:
my_dictionary["car"]

KeyError: 'car'

In [51]:
print(my_dictionary.get("car"))

None

In [52]:
help(my_dictionary.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

In [65]:
print(my_dictionary.get("car", "T-Ford"))

T-Ford

In [55]:
# Fetch a key that exists
print(my_dictionary.get("name", "T-Ford"))

Ada Lovelace

In [57]:
# Add the car to the dictionary
my_dictionary["car"] = "T-Ford"

In [58]:
my_dictionary["car"]

'T-Ford'

Double splat ( `**` ), expands the dictonary to key=value, can be passed to a function.

In [63]:
dict(**my_dictionary)

{'name': 'Ada Lovelace',
 'born_year': 1815,
 'expertise': 'The first computer programmer.',
 'car': 'T-Ford'}

In [64]:
# Same as
dict(
    name=my_dictionary["name"],
    born_year=my_dictionary["born_year"],
    expertise=my_dictionary["expertise"],
    car=my_dictionary["car"],
)

{'name': 'Ada Lovelace',
 'born_year': 1815,
 'expertise': 'The first computer programmer.',
 'car': 'T-Ford'}

In [66]:
{**my_dictionary, **other_dict}

{'name': 'Ada Lovelace',
 'born_year': 1815,
 'expertise': 'The first computer programmer.',
 'car': 'T-Ford',
 None: 'Ost',
 23: 'Bil'}

In recent python (3.9) a dict union operator `|` was added.
<https://peps.python.org/pep-0584/>

This is used to combine two dicts into a new with all items from both, like with `**` above.

In [69]:
new_dict = my_dictionary|other_dict
new_dict

{'name': 'Ada Lovelace',
 'born_year': 1815,
 'expertise': 'The first computer programmer.',
 'car': 'T-Ford',
 None: 'Ost',
 23: 'Bil'}

In [70]:
my_dictionary

{'name': 'Ada Lovelace',
 'born_year': 1815,
 'expertise': 'The first computer programmer.',
 'car': 'T-Ford'}

## Tuples

In [88]:
our_tup = (1, 3, 7, None, "abc")
print(our_tup)

(1, 3, 7, None, 'abc')

In [89]:
our_tup[0]

1

In [74]:
# We can't extend the existing structure
our_tup.extend

AttributeError: 'tuple' object has no attribute 'extend'

In [75]:
# But we can overwrite it
our_tup = (3, 7, None, "abc")

In [76]:
our_tup

(3, 7, None, 'abc')

In [77]:
our_tup + (1, 2, 3)

(3, 7, None, 'abc', 1, 2, 3)

## Sets
Unique set of elements, unordered datastructure.
<https://docs.python.org/3/library/stdtypes.html#set>

In [81]:
our_set = { "Kalle", "Gustav", "Erik" }
print(our_set)

{'Erik', 'Gustav', 'Kalle'}

In [82]:
other_set = { 0, None, "Kalle", 2, 0 }
print(other_set)

{0, 2, 'Kalle', None}

In [83]:
other_set & our_set

{'Kalle'}

In [84]:
our_set | other_set

{0, 2, 'Erik', 'Gustav', 'Kalle', None}

In [85]:
our_set - other_set

{'Erik', 'Gustav'}

In [86]:
"Gustav" in our_set

True

In [87]:
"Gustav" in other_set

False

## Quick comprehension demo
A comprehension creates a new datastructure by looping another on the fly.

In [93]:
# Regular loop, create a list with all whole numbers
num_list = []
for element in our_tup:
    if isinstance(element, int):
        num_list.append(element)

print(our_tup)
print(num_list)

(1, 3, 7, None, 'abc')
[1, 3, 7]

In [95]:
# Do the same with list-comp.

num_list = [element for element in our_tup if isinstance(element, int)]
print(num_list)

[1, 3, 7]

In [101]:
# Dict comprehension
dict_name = { key: value for key, value in my_dictionary.items() if key == "name" }
print(dict_name)

{'name': 'Ada Lovelace'}

In [102]:
# Dict comprehension
extract_keys = {"name", "born_year"}
dict_name = { 
    key: value 
    for key, value in my_dictionary.items()
    if key in extract_keys 
}
print(dict_name)

{'name': 'Ada Lovelace', 'born_year': 1815}

## None values
None is the abscense of a value

In [103]:
# None is always a reference to the same object
no_value = None
other_empty_var = None
no_value is other_empty_var

True

In [104]:
if no_value is None:
    print("We didn't get anything back")

We didn't get anything back

In [105]:
other_empty_var = []
other_empty_var is None

False

In [107]:
if other_empty_var is None:
    print("We didn't get anything back")
elif other_empty_var is not None:
    print("The varible has some kind of value")

The varible has some kind of value

In [110]:
# Type-annotated none
def empty() -> None: pass
no_value: None = empty()

In [111]:
print(type(no_value))
print(no_value)

<class 'NoneType'>
None

In [118]:
# Explicit None with strict types.
from typing import Optional

# <= 3.9 Syntax
def maybe_none(arg: int) -> Optional[int]:
    if arg > 1:
        return arg

# >= 3.10 type annotations syntax
def maybe_none(arg: int) -> int | None:
    if arg > 1:
        return arg

In [115]:
print(maybe_none(0))

None

In [117]:
print(maybe_none(2))

2

## F-strings
Format strings with values using f-strings

In [121]:
f"1 + 1 = {1+1}"

'1 + 1 = 2'

In [124]:
password = "abc123"
if len(password) < 8:
    print(f"Your password is {len(password)} characters long, min is 8 characters")
else:
    print("Password accepted")

Your password is 6 characters long, min is 8 characters

In [125]:
# Get password via terminal
password = input()
if len(password) < 8:
    print(f"Your password is {len(password)} characters long, min is 8 characters")
else:
    print("Password accepted")

 abcd12345

Password accepted

## Functions and tests

In [126]:
def greet_someone(name, location):
    return f"Hello {name}, welcome to {location}"

In [128]:
greetings = (
    ("Alex", "Gothenburg"),
    ("Åsa", "Linköping"),   
)
greet_someone(greetings[0][0], greetings[0][1])

'Hello Alex, welcome to Gothenburg'

In [129]:
greet_someone(*greetings[0])

'Hello Alex, welcome to Gothenburg'

In [131]:
for greeting in greetings:
    print(greet_someone(*greeting))

Hello Alex, welcome to Gothenburg
Hello Åsa, welcome to Linköping

In [132]:
greet_someone(location="Vilhelmina", name="Oskar")

'Hello Oskar, welcome to Vilhelmina'

In [133]:
greeting_dict = {
    "location": "Malmö",
    "name": "Hans-Göran",
}
greet_someone(**greeting_dict)

'Hello Hans-Göran, welcome to Malmö'

In [140]:
# Failing test, will raise AssertionError
assert greet_someone("Alex", "Gothenburg") == "Kalle Anka"
print("Will it reach this code?")

AssertionError:

In [139]:
# Failing test, will raise AssertionError with a message: "Failed greeting test"
assert greet_someone("Alex", "Gothenburg") == "Kalle Anka", "Failed greeting test"
print("Will it reach this code?")

AssertionError: Failed greeting test

In [145]:
# Passing test
assert greet_someone("Alex", "Gothenburg") == "Hello Alex, welcome to Gothenburg"
assert "Hello Åsa, welcome to Linköping" == greet_someone("Åsa", "Linköping") 

print("Will it reach this code?")

Will it reach this code?

In [152]:

def test_greet_someone():
    "A function to test the greet_someone() function"
    assert greet_someone("Alex", "Gothenburg") == "Hello Alex, welcome to Gothenburg"
    assert "Hello Åsa, welcome to Linköping" == greet_someone("Åsa", "Linköping")

In [148]:
help(test_greet_someone)

Help on function test_greet_someone in module __main__:

test_greet_someone()
    A function to test the greet_someone() function

In [153]:
test_greet_someone()